/*	--- Reset --- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img { 
	border: 0; 
}

ul {
	list-style: none;
}

/*	--- Tipografia --- */

h1 {
	font-size: 65px;
	line-height: 72px;
	letter-spacing: -1px;
	color: white;
	text-align: center;
	color: #e60014;
	text-transform: uppercase;
	width: 350px;
	font-family: 'HorseshoesRegular';
	text-shadow: 2px 0px #9E0D08;
	z-index: 2;
	position: relative;	
}

h1 .peso {
	font-size: 200px;
	line-height: 200px;
	text-shadow: 6px 0px #9E0D08;
}

h2 {
	font-size: 50px;
	line-height: 40px;
	text-shadow: 0px 0px #000;
	background: url('../img/subtitle-bg.png') no-repeat;
	width: 314px;
	height: 65px;
	font-family: 'Pacifico', cursive;
	color: #000;
	text-align: center;
	margin: -20px 0 0 20px;
}

h3 {
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	background: #e60014;
	color: #fff600;
	font-family: 'Magra', sans-serif;
}

/* --- Cabeçalho --- */

.superman {
	position: absolute;	
	top: 30px;
	left: 200px;
	z-index: 1;
}


/*	--- Seleção --- */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* Estilo */

body {
	background: #e60014;
	color: rgb(60,60,60);
}

/* Estrutura */

#main {
	width: 70%;
	background: white;
	float: left;
}

#intro {
	width: 100%;
	height: 650px;
	background: #fff600;
	padding: 125px 0 0 50px;
}

#menu {
	width: 30%;
	height: 100%;
	background: green;
	position: fixed;
	top: 0;
	right: 0;
}

/* Artigos */

article {
	margin: 50px 0;
}

article h1 {
	color: black;
	text-align: left;
}

/* Fontes */

@font-face {
    font-family: 'HorseshoesRegular';
    src: url('../font/horseshoes-webfont.eot');
    src: url('../font/horseshoes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/horseshoes-webfont.woff') format('woff'),
         url('../font/horseshoes-webfont.ttf') format('truetype'),
         url('../font/horseshoes-webfont.svg#HorseshoesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* --- media queries snippets ~ http://nmsdvid.com/snippets/ --- */
