.en .intro h1 span { font-size: 2.0em; }

.pt .intro h1 span { font-size: 3.1em; }

.fr .intro h2 {font-size: 2.2em;}

.pl .intro h1 { font-size: 3.7em; }
.pl .intro h1 span { font-size: 2.3em; }
.pl .subtitle h3 {
  font-size: 1.2em;
  padding: .5em 0;
  @media (max-width: 592px) {
    font-size: .75em;
    padding: 1.2em 0;
  }
}

.es .intro h1 span { font-size: 3.1em; }
.es .subtitle h3 {
  @media (max-width: 555px) {
    font-size: .95em;
    padding: .8em 0;
  }
}

.mq-gh-ribbon(~'.en', ~'@{gh-ribbon}', ~'645px');
.mq-gh-ribbon(~'.pt', ~'@{gh-ribbon}', ~'645px');
.mq-gh-ribbon(~'.es', ~'@{gh-ribbon}', ~'670px');
.mq-gh-ribbon(~'.pl', ~'@{gh-ribbon}', ~'710px');
.mq-gh-ribbon(~'.zh', ~'@{gh-ribbon}', ~'565px');
.mq-gh-ribbon(~'.cs', ~'@{gh-ribbon}', ~'565px');
.mq-gh-ribbon(~'.fr', ~'@{gh-ribbon}', ~'665px');
.mq-gh-ribbon(~'.jp', ~'@{gh-ribbon}', ~'630px');
