.en .intro h1 span { font-size: 2.0em; }
.pt .intro h1 span { font-size: 3.1em; }
.es .intro h1 span { font-size: 2em; }

.en .intro h2 { font-size: 2.6em; line-height: 1.2em; padding-bottom: 0.4em;}
.pt .intro h2 { font-size: 3.1em; line-height: 0.8em; padding-bottom: 0.6em;}
.es .intro h2 { font-size: 2.8em; line-height: 1.2; padding-bottom: .3em; }