.en .intro h1 span { font-size: 2.0em; }
.pt .intro h1 span { font-size: 3.1em; }
.es .intro h1 span { font-size: 3.1em; }
.fr .intro h2 {font-size: 2.2em;}

.pl .intro h1 { font-size: 3.7em; }
.pl .intro h1 span { font-size: 2.3em; }
.pl .subtitle h3 { font-size: 1.2em }