/* --- Vars --- */

@yellow: #FFDE00;
@red: #E60014;
@orange: #FFBF00;

/* --- Reset --- */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a img {
	border: 0;
}

ul {
	list-style: none;
}

/* --- Global --- */

body {
	-webkit-text-size-adjust: none;
	min-width: 720px;
}

p, pre {
	font-family: 'Open Sans', sans-serif;
	margin: 1.5em 0;
	padding: 0 7%;
	word-break: break-word;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: @red;
	font-weight: bold;
	border-bottom: 3px solid @orange;
}

strong {
	color: @red;
}

/* --- Util --- */

.center {
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
}

/* --- Structure --- */

.intro {
	position: relative;
	line-height: (517 / 16em);
	z-index: 1;
	max-width: 51em;
	overflow: hidden;
	margin-left: auto;
}

#menu {
	background: @red;
}

	.fixing-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
	}

#header {
	background: @yellow;
}

#content {
	background: #fff;
}

/*	--- Superman --- */
.superman {
  display: inline-block;
  padding: 6em;
  overflow: hidden;

  position: absolute;
  top: -30px;
  right: -50px;
  z-index: -1;
}
	.superman-raios {
	  position: absolute;
	  top: 0;
	  left: -45px;
	  z-index: -1;

	  height: 560 / 16em;
	  width: 537 / 16em;

	  -webkit-animation: 20s superman infinite linear;
	     -moz-animation: 20s superman infinite linear;
	       -o-animation: 20s superman infinite linear;
	          animation: 20s superman infinite linear;
	}
	.superman-geek {
		height: 393 / 16em;
		width: 320 / 16em;
	}

	@-webkit-keyframes superman { to { -webkit-transform: rotate(360deg); } }
	@-moz-keyframes superman    { to {    -moz-transform: rotate(360deg); } }
	@-o-keyframes superman      { to {      -o-transform: rotate(360deg); } }
	@keyframes superman         { to {         transform: rotate(360deg); } }


/* --- Subtitle --- */

.subtitle {
	background: @red;
}

/*	--- Header --- */

#github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	z-index: 2;
}

	// Remove ribbon from small view
	@media (max-width: 1260px) {
		#github-ribbon { display: none; }
	}

.subtitle h3,
#menu a {
	font-size: 1.4em;
	line-height: 1.3;
	padding: 0.35em 0;
	display: block;
	text-align: center;
	color: @yellow;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}


.intro-titles {
	display: inline-block;
	width: 350 / 16em;
	vertical-align: middle;
}

.intro h1 {
	font-family: 'HorseshoesRegular', sans-serif;
	font-size: 4.0em;
	line-height: 1.0em;
	color: @red;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 0px #9E0D08;
	position: relative;
	font-weight: normal;
}

.intro h1 span {
	line-height: 1em;
	text-shadow: 0.035em 0px #9E0D08;
}

.intro h2 {
	background: url('../img/subtitle-bg.png') no-repeat;
	background-size: 100%;
	margin: (-20 / (16 * 3em)) 0 0 (20 / (16 * 3em));
	font-family: 'Pacifico', cursive;
	padding: 0 0.7em 0 0.4em;
	color: #000;
	text-align: center;
	text-shadow: 0px 0px #000;
	vertical-align: middle;
	font-weight: normal;
}

/*	--- Languages --- */

#top-bar {

	.center {
		position: relative;
	}

	.flags {
		position: absolute;
		top: 7px;
		border: 0;
	}

}

#flag-pt { right: 0; }
#flag-en { right: 40px; }

/*	--- Topics --- */

.topics {
	font-family: 'HorseshoesRegular', sans-serif;
	font-size: 4em;
	line-height: 1;
	color: @red;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 0px #9E0D08;
	position: relative;
	padding: 10px 0 0 0;
	margin: 100px auto 0;
	text-align: center;
	font-weight: normal;

	span {
		display: inline-block;
		padding: 0 3px;
		border-bottom: 10px solid @orange;
	}
}

/*	--- Menu --- */

#menu ul {
	text-align: center;
	width: 100%;
}

#menu li {
	display: inline-block;
	margin: 0 1.5em;
}

	@media (max-width: 860px) {
		#menu li {
			margin: 0 0.8em;
		}
	}

#menu a {
	border: 0;
}

/* --- Articles --- */

.article {
	padding: 4% 0 0 2%;
	clear: both;
}

.article h1 {
	font-family: 'Pacifico', cursive;
	font-size: 2.4em;
	margin: 0 0 0 1.56em;
	position: relative;
	text-transform: lowercase;
	z-index: 2;

	.tip-title {
		border: 0;
		line-height: 1;
	}

	a {
		font-weight: normal;
	}
}
.tip-title {
	color: @red;
}

.article .anchor,
.article .edit {
	color: @orange;
	font-family: sans-serif;
	font-size: 40px;
	display: block;
	position: absolute;
	top: 20px;
	right: 0;
	border: none;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
	border: none;
}

.article h1:hover .anchor {
	color: @red;
}

.article .edit {
	top: 10px;
}

.edit:hover {
	color: @red;
}

.line {
	width: auto;
	height: 0.625em;
	background: @orange;
	position: relative;
	top: -0.5em;
}

.order {
	width: 30px;
	height: 35px;
	border-radius: 30px;
	font-family: 'HorseshoesRegular', sans-serif;
	color: @red;
	background: #ffbf00;
	display: block;
	position: absolute;
	top: -20px;
	left: 0;
	padding: 10px;
	font-size: 2.5em;
	text-align: center;
}

/* --- Tips --- */

.img-left {
  float: left;
  margin: 10px 0 0 60px;
}

.img-right {
	float: right;
}

.content-right {
  float: right;
  padding-left: 300px;

  background: url(http://browserdiet.com/img/17.png) no-repeat 4em top;
  background-size: (200 / 16em) (275 / 16em);

  p {
  	margin-left: 0;
  	padding-left: 0;
  }

  .project-leader {
  	float: right;
  	margin-top: 0;
  }
}


#top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	border: 0;
	opacity: 0.5;

	img {
		width: 64px;
		height: 64px;
	}

	&:hover {
		opacity: 1;
	}
}

/* --- Introduction --- */

#introducao p {
	width: 700px;
	float: left;
}

#introducao img {
	margin: -50px 0 0 -50px;
	position: relative;
	z-index: 2;
}

/*	--- Selection --- */

::selection 				{ color: @yellow; background: @red; }
::-moz-selection 		{ color: @yellow; background: @red; }
img::selection 			{ background: transparent; }
img::-moz-selection	{ background: transparent; }

/* --- Fonts --- */

@font-face {
  font-family: 'HorseshoesRegular';
  src: url('../webfonts/horseshoes-webfont.eot');
  src: url('../webfonts/horseshoes-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/horseshoes-webfont.woff') format('woff'),
       url('../webfonts/horseshoes-webfont.ttf') format('truetype'),
       url('../webfonts/horseshoes-webfont.svg#HorseshoesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --- Specific --- */

#async pre,
#ferramentas pre {
	margin-right: 120px;
}


.icos-geek {
	position: relative;
}

#geek-43 { margin: 0 20px 0 0; }
#geek-20 { margin: 30px 20px 0 0; }
#geek-31 { margin-top: 5px;}
#geek-55 { margin-top: 18px;}
#geek-36 { margin-top: 10px;}
#geek-15 { margin-top: -20px;}
#geek-4 { margin-top: -13px; }
#geek-6 { margin-right: 20px; }


#img-sprite {
	border-radius: 3px;
	max-width: 483px;
	max-height: 21px;
	width: 100%;
}
