/*	--- Reset --- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img { 
	border: 0; 
}

ul {
	list-style: none;
}

/* --- Atribuições Globais --- */

p {
	margin: 20px 60px;
	font-family: 'Magra', sans-serif;
}

/*img { 
	max-width:100%; 
}*/


/*	--- Seleção --- */

::selection 	 	{ background: green; }
::-moz-selection 	{ background: green; }
img::selection 		{ background: transparent; }
img::-moz-selection	{ background: transparent; }

/* --- Estrutura --- */

body {
	-webkit-text-size-adjust: none;
}

#main {
	width: 80%;
	float: left;
	background: #fff600;
}

.intro {
	width: 650px;
	height: 350px;
	margin: 100px auto 0;
	position: relative;
}

#menu {
	width: 20%;
	height: 100%;
	float: right;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	background: rgba(255,180,0, .8);
}

/*	--- Cabeçalho --- */

#github {
	position: absolute;
	z-index: 3;
}

h3 {
	font-size: 1.4em;
	line-height: 2em;
	text-align: center;
	background: #e60014;
	color: #fff600;
	font-family: 'Magra', sans-serif;
	z-index: 2;
	position: relative;
}

.intro h1 {
	width: 350px;
	font-family: 'HorseshoesRegular';
	font-size: 4.0em;
	line-height: 1.0em;
	color: #e60014;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 0px #9E0D08;
	position: relative;	
	z-index: 2;
}

.intro h1 .peso {
	font-size: 3.1em;
	line-height: 1em;
	text-shadow: 6px 0px #9E0D08;
}

.intro h2 {
	width: 314px;
	height: 65px;
	background: url('/static/img/subtitle-bg.png') no-repeat;
	margin: -20px 0 0 20px;
	font-family: 'Pacifico', cursive;
	font-size: 3.1em;
	line-height: 0.8em;
	color: #000;
	text-align: center;
	text-shadow: 0px 0px #000;
}

.superman {
	position: absolute;	
	top: -130px;
	left: 200px;
	z-index: 1;
}

/*	--- Menu --- */

#menu li {
	color: #000; 
	background-color: #f00;

	-webkit-transition: all 1s; 
	-moz-transition: all 1s;
	transition: all 1s; 

	text-align: center;
	height: 30px;
	border: 1px solid #fff;
}
	
#menu li:hover, #menu li.active {
	color: #888; 
	background-color: #0f0;
}

#menu li a {
	color: #000;
}

/* --- Artigos --- */

article {
	margin: 50px 0;
	padding-left: 20px;
	clear: both;
}

article h1 {
	font-family: 'Pacifico', cursive;
	color: #e60014;
	font-size: 2.4em;
	margin: 0 0 0 60px;
	position: relative;
	z-index: 2;
	text-transform: lowercase;
}

.linha {
	width: 100%;
	height: 10px;
	background: rgba(255,180,0, .8);
	position: relative;
	margin: -10px 0 0 0;
}

.bola {
	width: 30px;
	height: 35px;
	border-radius: 30px;
	font-family: 'HorseshoesRegular';
	color: #e60014;
	background: rgba(255,180,0, .8);
	display: block;
	position: absolute;
	top: -20px;
	left: 0;
	padding: 10px;
	font-size: 2.5em;
	text-align: center;
}

/* --- Introdução --- */

#introducao p {
	width: 700px;
	float: left;
}

#introducao img {
	margin: -50px 0 0 -50px;
	position: relative;
	z-index: 2;
}

/* --- Media Queries ~ http://nmsdvid.com/snippets/ --- */

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	h3 {
		font-size: 1.2em;
	}

}

/* Mobile */
@media only screen and (max-width: 767px) {
	
	h3 {
		font-size: 0.8em;
	}

	#menu {
		display: none;
	}

	#main {
		width: 100%;
	}
	
}

/* Landscape Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	h3 {
		font-size: 1.0em;
	}

	#menu {
		display: none;
	}

	#main {
		width: 100%;
	}
	
}

/* --- Fontes --- */

@font-face {
    font-family: 'HorseshoesRegular';
    src: url('../font/horseshoes-webfont.eot');
    src: url('../font/horseshoes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/horseshoes-webfont.woff') format('woff'),
         url('../font/horseshoes-webfont.ttf') format('truetype'),
         url('../font/horseshoes-webfont.svg#HorseshoesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* --- Prettify --- */

pre .str, code .str { color: #FFFF66; } /* string  - green */
pre .kwd, code .kwd { color: #7AE225; } /* keyword - dark pink */
pre .com, code .com { color: #428BDD; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #D1EDFF; } /* punctuation - white */
pre .pln, code .pln { color: #D1EDFF; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #031425;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

pre.prettyprint {
	padding: 1em;
	white-space: pre-wrap;
	margin: 0 60px;
	/*font-family: 'Magra', sans-serif;*/
}
