.img-left {
  float: left;
  margin: 10px 0 0 60px;
}

.content-right {
  float: right;
  width: 660px;
}

.content-right p {
  margin-left: 10px;
}

.content-right p.project-leader {
  float: right;
  margin-top: 0;
}