<!doctype html>
<html lang="pt-BR">

	<head>
		
		<meta charset="utf-8"/>
		<title>Como perder peso (no browser)</title>
		
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" media="all" href="/static/css/style.css" />
		<link rel="stylesheet" href="{{ url_for('pygments_css') }}">

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

		<link href="http://fonts.googleapis.com/css?family=Magra" rel="stylesheet" type="text/css">

	</head>
	
	<body>

		<div id="main">

			<a id="github" href="http://github.com/zenorocha/como-perder-peso/"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

			<h3>O guia definitivo de performance para o desenvolvedor front-end</h3>

			<header id="intro">

				<h1>Como perder <span class="peso">peso</span></h1>
				<h2>no browser</h2>

				<img src="/static/img/superman.png" alt="Superman" class="superman" />

			</header>

			<section id="content">
				{{ content|safe }}
			</section>

		</div>

		<aside id="menu">

			<ul>
				<li><a href="#html">HTML</a></li>
				<li><a href="#css">CSS</a></li>
				<li><a href="#javascript">JavaScript</a></li>
				<li><a href="#jquery">jQuery</a></li>
			</ul>
			
		</aside>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

		<script src="/static/js/script.js"></script>
		<!-- <script src="/static/js/prettify/prettify.js"></script> -->

		<script type="text/javaScript">

			$(function(){

				// prettyPrint();

				var app = new COMOPERDERPESO.App();

				$(window).scroll(function() {
			        app.highlight();
			    });


		    });

		</script>

	</body>
	
</html>